  <script id="promisepay-integration" type="text/javascript" data-jquery="true" src="https://express.prelive.promisepay.com/dist/wrapper.js"></script>
  <script>
  $( document ).ready(function() {
    $('.transaction_modal').click(function(event) {
      event.preventDefault();
      $.ajax({
        type: 'POST',
        url: '../transactions/create',
      // come back and fix this one
    })
      .done(function( msg ) {
        alert( "Making a note here: huge success" );
      });
    });
  });
  </script>

  <p id="notice"><%= notice %></p>

  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  <h3><%= @user.email %></h3><br>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  <br>
  <%  if @user.cards.first != nil %>
  <h5><%= @user.first_name %>'s Cards</h5>
  <% @user.cards.each do |card| %>
  <%= link_to card.full_name, card_path %>
  <% end %>

  <h5>Send Money To Other Users</h5>
  <% @users.each do |recepient| %>
  <% if recepient.id != @user.id %>
  <p><%= link_to "Send #{recepient.first_name} #{recepient.last_name} money", new_transaction_path(@user, recepient), class: 'btn btn-success btn-xs transaction_modal' %></p>
  <% end %>
  <% end %>
  <% end %>

  <div id="promisepay-1" data-session="SESSION_TOKEN_GOES_HERE" data-type="1" class="promisepay-widget"></div>