<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %>
    <%= f.select :user_id, User.all.collect {|card_holder| [card_holder.first_name, card_holder.id]}, {:include_blank => 'Select One'} %><br>
  </div>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :expiry_month %><br />
    <%= f.text_field :expiry_month %>
  </div>

  <div class="field">
    <%= f.label :expiry_year %><br />
    <%= f.text_field :expiry_year %>
  </div>

  <div class="field">
    <%= f.label :cvv %><br />
    <%= f.text_field :cvv %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
